@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Lato&family=Montserrat");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .breadcrumb-next::after {
        @apply p-[4px] font-bold text-frontend-dark;
        content: "/";
    }

    .bg-gradient-cover {
        @apply bg-gradient-to-b from-[#ffffff38]  to-[#162f55];
    }
}

/* SINGLE POST */
#post-content h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

#post-content h2 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

#post-content h3,
#post-content h4,
#post-content h5,
#post-content h6 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

#post-content p {
    margin-bottom: 0.5rem;
}

#post-content div {
    margin-bottom: 0.5rem;
}

#post-content li {
    margin-bottom: 0.5rem;
}

#post-content ol {
    list-style-type: decimal;
    margin-left: 2rem;
}

#post-content ul {
    list-style-type: disc;
    margin-left: 2rem;
}

#post-content a {
    color: #2e62af;
    text-decoration: none;
    line-height: 1;
    background: linear-gradient(0deg, #548adc, #548adc) no-repeat right bottom /
        0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
    padding-bottom: 2px;
    --bg-h: 2px;
}

#post-content a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

#post-content a:hover {
    color: #548adc;
}

#post-content img {
    max-width: 100%;
}

#post-content table {
    border-width: 1px;
    border-color: #a7a7a7;
    margin-bottom: 0.8rem;
    width: 100%;
}

#post-content td,
#post-content th {
    border-width: 1px;
    border-color: #a7a7a7;
    padding: 0.4rem;
}

#post-content blockquote {
    background-color: #f5f5f5;
    border-left: 4px solid #ccc;
    padding: 0.5em 1em;
    margin-left: 0;
    margin-right: 0;
}

#post-content hr {
    border: 1px solid #a7a7a7;
    margin-bottom: 0.8rem;
}

#post-content details {
    margin: 0.8rem auto;
}

#post-content details summary {
    cursor: pointer;
}

#post-content details > *:not(summary) {
    margin-left: 1.2rem;
}

#post-content span.spoiler {
    background: #000;
    color: #000;
}

#post-content span.marker {
    background: yellow;
}

#post-content span.spoiler:hover {
    background: #000;
    color: #fff;
}

#post-content h2.document-title {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border: 0;
}

#post-content h3.document-subtitle {
    font-size: 20px;
    color: theme("colors.frontend.primary");
    margin: 0 0 1em;
    font-weight: normal;
    padding: 0;
}

#post-content blockquote.side-quote {
    font-style: normal;
    float: right;
    width: 40%;
    position: relative;
    border: 0;
    overflow: visible;
    z-index: 1;
    margin-left: 1em;
    background-color: transparent !important;
    border-left: none !important;
}

#post-content blockquote.side-quote::before {
    content: "“";
    position: absolute;
    top: -60px;
    left: -10px;
    display: block;
    font-size: 200px;
    color: #e7e7e7;
    z-index: -1;
    line-height: 1;
}

#post-content blockquote {
    position: relative;
    overflow: visible;
    z-index: 1;
}

#post-content blockquote::before {
    content: "“";
    position: absolute;
    top: -60px;
    left: -30px;
    display: block;
    font-size: 200px;
    color: #e7e7e7;
    z-index: -1;
    line-height: 1;
}

#post-content p.info-box {
    --background-size: 30px;
    --background-color: theme("colors.frontend.primary");
    padding: 1.2em 2em;
    border: 1px solid var(--background-color);
    background: linear-gradient(
            135deg,
            var(--background-color) 0%,
            var(--background-color) var(--background-size),
            transparent var(--background-size)
        ),
        linear-gradient(
            135deg,
            transparent calc(100% - var(--background-size)),
            var(--background-color) calc(100% - var(--background-size)),
            var(--background-color)
        );
    border-radius: 5px;
    margin: 1.5em 2em;
    box-shadow: 5px 5px 0 #e6f3ff;
}

.ck.ck-editor__editable pre {
    position: relative;
}

#post-content pre.fancy-code {
    border: 0;
    /* margin: 0.5em 1em; */
    border-radius: 6px;
}

#post-content pre.fancy-code-bright {
    background: #dddfe0;
    color: #000;
    box-shadow: 5px 5px 0 #b3b3b3;
}

#post-content pre.fancy-code-dark {
    background: #272822;
    color: #fff;
    box-shadow: 5px 5px 0 #0000001f;
}

#post-content pre.fancy-code::before {
    --ck-fancy-code-disc-radius: 6px;
    content: "";
    display: block;
    height: calc(var(--ck-fancy-code-disc-radius) * 2);
    background-image: radial-gradient(
            circle,
            #f16b5d var(--ck-fancy-code-disc-radius),
            #0000 var(--ck-fancy-code-disc-radius)
        ),
        radial-gradient(
            circle,
            #f5be4d var(--ck-fancy-code-disc-radius),
            #0000 var(--ck-fancy-code-disc-radius)
        ),
        radial-gradient(
            circle,
            #56c452 var(--ck-fancy-code-disc-radius),
            #0000 var(--ck-fancy-code-disc-radius)
        );
    background-size: calc(var(--ck-fancy-code-disc-radius) * 2)
        calc(var(--ck-fancy-code-disc-radius) * 2);
    background-position: 0 0, calc(var(--ck-fancy-code-disc-radius) * 3) 0,
        calc(var(--ck-fancy-code-disc-radius) * 6) 0;
    margin-bottom: 8px;
    background-repeat: no-repeat;
}

#post-content pre[data-language]:after {
    background: var(--ck-color-code-block-label-background);
    color: #fff;
    font-family: var(--ck-font-face);
    font-size: 10px;
    line-height: 16px;
    padding: var(--ck-spacing-tiny) var(--ck-spacing-medium);
    right: 10px;
    top: -1px;
    white-space: nowrap;
}

#post-content pre[data-language]:after {
    content: attr(data-language);
    position: absolute;
}

#post-content figure {
    display: block;
    margin: 0 auto;
}

#post-content .image-style-align-left {
    float: left;
}

#post-content .image-style-align-right {
    float: right;
}
